src/build/
src/d_tree_sitter/build/
src/d_tree_sitter/gen/
src/d_tree_sitter/libc.d

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html

# Code coverage
*.lst